POSTGRES_URL="postgres://postgres.kylzlzlbnmiigluecyfs:NOjAuzLw1EeZVi96@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.kylzlzlbnmiigluecyfs.supabase.co"
SUPABASE_JWT_SECRET="qry94jwh7MkNL3nBG/+JYrq5gJyXwg7Y/o3cNv+nSzc6MxUiW1A7w2qzBshvNbkm9U0I6z6VCp1nb25FKLBIAQ=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5bHpsemxibm1paWdsdWVjeWZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk5OTk5MTYsImV4cCI6MjA2NTU3NTkxNn0.xYrZ19Mcw9PgvZ3l1o_euJ4dHCVYp9DVRm9UFyuMjXY"
POSTGRES_PRISMA_URL="postgres://postgres.kylzlzlbnmiigluecyfs:NOjAuzLw1EeZVi96@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PASSWORD="NOjAuzLw1EeZVi96"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://kylzlzlbnmiigluecyfs.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5bHpsemxibm1paWdsdWVjeWZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk5OTk5MTYsImV4cCI6MjA2NTU3NTkxNn0.xYrZ19Mcw9PgvZ3l1o_euJ4dHCVYp9DVRm9UFyuMjXY"
NEXT_PUBLIC_SUPABASE_URL="https://kylzlzlbnmiigluecyfs.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5bHpsemxibm1paWdsdWVjeWZzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTk5OTkxNiwiZXhwIjoyMDY1NTc1OTE2fQ.wX8sbveHf4prF9I9ln9w9zprVa-WpnbOVV4Rr2Loums"
POSTGRES_URL_NON_POOLING="postgres://postgres.kylzlzlbnmiigluecyfs:NOjAuzLw1EeZVi96@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"